@import './fonts';

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$font-regular: "Titillium Web-normal";
$font-semi-bold: "Titillium Web-bold";
$navy: #13182c;
$darkgold: #765c09;
$black: #0a0b0c;
$gold: #D1B000;
$light-grey: #dadfe4;
$white: #ffffff;